body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: white;
  overflow-x: hidden;
}
.header {
  font-size: xx-large;
  font-weight: 700;
  padding: 25px;
}
.x {
  font-size: xx-large;
}
.circle {
  font-size: xx-large;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gameArea {
  width: 100vw;
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
}
.restart {
  font-size: x-large;
  border-radius: 0.25rem;
  background-color: #8fbaf1;
  color: black;
  font-weight: 400;
  margin: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  outline: 0;
  border-style: none;
}
.restart:hover {
  background-color: #3484ec;
}
#game_button {
  border-width: 1px;
  border-color: white;
  border-style: solid;
  width: 100px;
  height: 100px;
  background-color: #8fbaf1;
  text-decoration: none;
  outline: 0;
  font-size: x-large;
}
#game_button:hover {
  background-color: #4f90e6;
}
